<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>User Create</title>
  <!-- base:css -->
  <link rel="stylesheet" href="/static/New Folder/vendors/typicons/typicons.css">
  <link rel="stylesheet" href="/static/New Folder/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/static/New Folder/vendors/mdi/css/materialdesignicons.min.css">
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/static/New Folder/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/static/New Folder/images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    {% include  'common/nav-bar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_settings-panel.html -->
    {% include 'common/menu-bar.html' %}
      <!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="col-md-8 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Company Creation</h4>
                <p class="card-description">
                </p>
                <form class="forms-sample" method="">
                  <div class="form-group row">
                    <label for="com_name" class="col-sm-2 col-form-label">Company Name</label>
                    <div class="col-sm-4">
                      <input type="text" name="com_name" class="form-control" id="com_name" placeholder="Company Name" value="{{row[1]}}">
                    </div>
                    <label for="bill_name" class="col-sm-2 col-form-label">Bill Name</label>
                    <div class="col-sm-4">
                      <input type="text" name="bill_name" class="form-control" id="bill_name" placeholder="Bill Name" value="{{row[2]}}">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="com_address" class="col-sm-2 col-form-label">Company Address</label>
                    <div class="col-sm-4">
                      <textarea type="text" name="com_address" class="form-control" rows="4" id="com_address" placeholder="Company Address">{{row[3]}}</textarea>
                    </div>
                    <label for="bill_address" class="col-sm-2 col-form-label">Bill Address</label>
                    <div class="col-sm-4">
                        <textarea type="text" name="bill_address" class="form-control" rows="4" id="bill_address" placeholder="Bill Address">{{row[3]}}</textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="mobile" class="col-sm-2 col-form-label">Mobile</label>
                    <div class="col-sm-4">
                      <input type="text" name="mobile" class="form-control" id="mobile" placeholder="93446*****" value="{{row[4]}}">
                    </div>
                    <label for="phone" class="col-sm-2 col-form-label">Phone</label>
                    <div class="col-sm-4">
                      <input type="text" name="phone" class="form-control" id="phone" placeholder="93446*****" value="{{row[5]}}">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="gst_no" class="col-sm-2 col-form-label">GST Number</label>
                    <div class="col-sm-4">
                      <input type="text" name="gst_no" class="form-control" id="gst_no" placeholder="GST87FGt" value="{{row[6]}}">
                    </div>
                    <!-- <label for="phone" class="col-sm-2 col-form-label">Phone</label>
                    <div class="col-sm-4">
                      <input type="text" name="phone" class="form-control" id="phone" placeholder="93446*****">
                      <input type="text" name="phone" class="form-control" id="phone" placeholder="93446*****">
                    </div> -->
                <input type="hidden" name="com_id" class="form-control" id="com_id" value="{{row[0]}}">
                </div>
                  <button type="submit" class="btn btn-primary mr-2" onclick="update_company_details(com_id.value,com_name.value,com_address.value,bill_name.value,bill_address.value,mobile.value,phone.value,gst_no.value)">Submit</button>
                  <a href="/company_creation" type="button" class="btn btn-light">Cancel</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
        <div class="card">
            <div class="card-body">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a href="https://www.bootstrapdash.com/" class="text-muted" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center text-muted">Free <a href="https://www.bootstrapdash.com/" class="text-muted" target="_blank">Bootstrap dashboard</a> templates from Bootstrapdash.com</span>
                </div>
            </div>    
        </div>        
    </footer>
    <!-- partial -->
  </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- base:js -->
  <script src="/static/New Folder/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="/static/js/company_creation.js"></script>

  <script src="/static/New Folder/js/off-canvas.js"></script>
  <script src="/static/New Folder/js/hoverable-collapse.js"></script>
  <script src="/static/New Folder/js/template.js"></script>
  <script src="/static/New Folder/js/settings.js"></script>
  <script src="/static/New Folder/js/todolist.js"></script>
  <script src="/static/js/user_creation.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
</body>

</html>
