
  <!-- base:js -->
  <script src="static/New Folder/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="static/New Folder/js/off-canvas.js"></script>
  <script src="static/New Folder/js/hoverable-collapse.js"></script>
  <script src="static/New Folder/js/template.js"></script>
  <script src="static/New Folder/js/settings.js"></script>
  <script src="static/New Folder/js/todolist.js"></script>

  

  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script>
  
  <script>
    $(document).ready(function () {
      $('.table').DataTable({
      });
  });
  
  </script>