<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>User Creation Admin</title>
<!-- base:css -->
<link rel="stylesheet" href="static/New Folder/vendors/typicons/typicons.css">
<link rel="stylesheet" href="static/New Folder/vendors/css/vendor.bundle.base.css">
<link rel="stylesheet" href="static/New Folder/vendors/mdi/css/materialdesignicons.min.css">
<!-- endinject -->
<!-- inject:css -->
<link rel="stylesheet" href="static/New Folder/css/vertical-layout-light/style.css">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"> -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap4.min.css">
<!-- endinject -->
<link rel="shortcut icon" href="static/New Folder/images/favicon.png" />