
<nav class="sidebar sidebar-offcanvas fixed-right" id="sidebar"">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/dashboard">
        <i class="typcn typcn-device-desktop menu-icon"></i>
        <span class="menu-title">Dashboard</span>
        <div class="badge badge-danger">new</div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#admin" aria-expanded="false" aria-controls="ui-basic">
        <i class="typcn typcn-document-text menu-icon"></i>
        <span class="menu-title">Admin</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="admin">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/user_type_creation">User Type Creation</a></li>
          <li class="nav-item"> <a class="nav-link" href="/user_creation">User Creation</a></li>
          <li class="nav-item"> <a class="nav-link" href="/staff_creation">Staff Creation</a></li>
          <li class="nav-item"> <a class="nav-link" href="">User Screen</a></li>
          <li class="nav-item"> <a class="nav-link" href="">User Permission</a></li>
          <li class="nav-item"> <a class="nav-link" href="/company_creation">Company Creation</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#master" aria-expanded="false" aria-controls="form-elements">
        <i class="typcn typcn-film menu-icon"></i>
        <span class="menu-title">Master</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="master">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="#">Customer Creation</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Item Creation</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#entry" aria-expanded="false" aria-controls="charts">
        <i class="typcn typcn-chart-pie-outline menu-icon"></i>
        <span class="menu-title">Entry</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="entry">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="#">Sales Entry</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>